<form id="tribe-choice-form">
	
	<% if (message) { %>
		<h2><%= message %></h2>
	<% } %>

	<table id="tribe-choice-choices" style="width: 100%; margin-bottom: 1.5em;">	
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Players</th>
			<th>Villages</th>
		</tr>

		<% _.each(choices, function(choice) { %>  
			<tr>
				<td><%= choice.rank %></td>
				<td><%= choice.name %></td>
				<td><%= choice.players %></td>
				<td><%= choice.villages %></td>
			</tr>
		<% }); %>
	</table>

	<input type="text" id="tribe-choice-form-input" class="js-tribe-choice" placeholder="Tribe Tag" />

	<button id="tribe-choice-form-add" type="button" class="btn">Add</button>
	<button id="tribe-choice-form-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Done</button>
</form>