<div id="village-coord-choice">
	<h3>Please enter desired village (x|y) format</h3>

	<span style="margin-right: 0.5em;">Village:</span>
	<input style="text-align: center;" type="text" id="village-choice" value="<%= suggested %>" />
		
	<div class="actions" style="text-align: right;">
		<button id="village-choice-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Done</button>
	</div>
</div>