<div id="village-distance-choice">
	<h3>Please enter desired distance (fields)</h3>

	<span style="margin-right: 0.5em;">Distance:</span>
	<input style="text-align: center;" type="number" id="village-distance" value="<%= suggested %>" />
		
	<div class="actions" style="text-align: right;">
		<button id="village-distance-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Done</button>
	</div>
</div>