<style>
	.noteProgressTable {
		width: 100%;
		border-collapse: collapse;
    }
    .villageNoteProgressWrapper {
    	margin-bottom: 1em;
    }
	.noteProgressTable, .noteProgressTable td, .noteProgressTable th {
		text-align: center;
		border: 1px solid black;
	}
	.noteProgressTable .agecol {
		min-width: 100px;
	}
	.noteProgressTable .namecol, .noteProgressTable .notecol {
		min-width: 200px;
	}
	#popup_box_NoteProgressUi .resultsWrapper {
		max-height: 250px;
		overflow: auto;
	}
	#popup_box_NoteProgressUi {
		width: 80% !important;
	}
	#popup_box_NoteProgressUi .actions {
		text-align: right;
	}
</style>

<div class="statsWrapper villageNoteProgressWrapper">
	<h3>Note Collector</h3>
	<table class="vis noteProgressTable">
		<tr>
			<td>Target:</td>
			<td><a data-bind="text: player.name, attr: { href: '/game.php?screen=info_player&id=' + player.id }"></a></td>
		</tr>
		<tr>
			<td>Status:</td>
			<td><span data-bind="text: status"></span></td>
		</tr>
		<tr>
			<td>Processed:</td>
			<td><span data-bind="text: doneCount"></span>/<span data-bind="text: total"></span></td>
		</tr>
		<tr>
			<td>Notes:</td>
			<td><span data-bind="text: noteCount"></span></td>
		</tr>
	</table>
</div>

<!-- ko if: (noteCount() >= 1) -->
	<div class="resultsWrapper villageNoteProgressWrapper">	
		<h4>Results</h4>
		<table class="vis noteProgressTable">

			<thead>
				<th class="namecol">Name</th>
				<th>Coords</th>
				<th>Points</th>
				<th class="agecol">Age (Days)</th>
				<th class="notecol">Note</th>
			</thead>

			<tbody data-bind="foreach: { data: notes, as: 'note' }">
				<tr>
					<td class="namecol">
						<a data-bind="text: note.name, attr: { href: '/game.php?screen=info_village&id=' + note.id }"></a>
					</td>
					<td data-bind="text: note.coords"></td>
					<td data-bind="text: note.points"></td>
					<td class="agecol" data-bind="text: note.age"></td>
					<td class="notecol" data-bind="text: note.content"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- ko if: status() === "Finished"  -->
		<div style="text-align: center; margin-bottom: 1em;">
			<label for="villageNoteProgressToForum" class="label">Add To Forum</label>
			<input type="checkbox" data-bind="checked: toForum" id="villageNoteProgressToForum">
		</div>

		<!-- ko if: toForum() -->
		<div style="text-align: center; margin-bottom: 1em;">
			<label for="villageNoteProgressPost" class="label">Thread Title</label>
			<input type="text" data-bind="value: forumTitle()" />
			<!-- Forum selection for thread placement -->
		</div>
		<!-- /ko -->

		<div class="actions" style="text-align: center;">
			<button type="button btn"
					data-bind="click: NoteProgress.downloadCsv">Download</button>
			<button type="button btn" 
					data-bind="visible: toForum(), click: NoteProgress.postForum">Post</button>
		</div>
	<!-- /ko -->
<!-- /ko -->

<!-- ko if: noteCount() === 0 -->
	<p style="text-align: center">No results currently.</p>
<!-- /ko -->