<div id="tool-choice-form">
	<% _.each(tools, function(tool) { %>
		<div 
			type="tool-choice-option" 
			data-type="<%= tool.key %>" 
			class="<%= tool.class %>">
			
			<h4 class="tool-choice-option-name"><%= tool.name %></h4>
			<p class="tool-choice-option-description"><%= tool.description %></p>
		</div>
	<% }); %>
</div>