#tool-choice-form .tool-choice-option {
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
	padding: 0.5em;
    margin-bottom: 1em;
}

#tool-choice-form .tool-choice-option .tool-choice-option-name {
	margin-top: 0.5em;
}