<style>
	.troop-choice-form {
		display: flex;
		flex-wrap: wrap;
	}

	.troop-choice-form .field {
		width: 30%;
		padding: 1%;
	}

	.troop-choice-form .field:after {
		clear: both;
		content: '';
		float: none;
		display: block;
	}

	.troop-choice-form .field img {
		margin-right: 0.5em;
	}
	
	.troop-choice-form .field input {
		width: 6em;
		text-align: center;
	}

	.troop-choice-form .field img, .troop-choice-form .field input {
		display: inline-block;
		float: left;
	}
</style>

<div id="troop-choice">
	<h4>Select desired troops.</h4>
	<form class="troop-choice-form" id="troops-choice" style="width: 100%; margin-bottom: 0.5em; padding: 0.5em;">		
		<% _.each(availableUnits, function(troop) { %>
			<div class="field">
				<img src="https://dsuk.innogamescdn.com/8.90/33674/graphic/unit/unit_<%= troop %>.png" />
				<input type="number" name="<%= troop %>" value="<%= preferences['desired'][troop] %>" />
			</div>
		<% }); %>
	</form>
	
	<h4>Select buffer troops to remain in village(s).</h4>
	<form class="troop-choice-form" id="troops-buffer-choice" style="width: 100%; margin-bottom: 0.5em; padding: 0.5em;">		
		<% _.each(availableUnits, function(troop) { %>
			<div class="field">
				<img src="https://dsuk.innogamescdn.com/8.90/33674/graphic/unit/unit_<%= troop %>.png" />
				<input type="number" name="<%= troop %>" value="<%= preferences['buffer'][troop] %>" />
			</div>
		<% }); %>
	</form>

	<div class="actions" style="text-align: right">
		<button id="troop-choice-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Done</button>
	</div>
</div>