<div>
	<h2>Paste Text / Coordinates</h2>

	<textarea id="coord-village-text" cols="30" rows="10"></textarea>

	<div class="actions" style="text-align: right;">
		<button id="coord-village-go" type="button" class="btn" style="background: green; border: 1px solid #0b750b;">
			Extract
		</button>
	</div>

</div>