<div id="proximity-modeller-process">
	
	<h2 data-bind="text: message"></h2>

	<div data-bind="if: processing()">
		<h4>The script is currently processing data, please wait or cancel.</h4>
	</div>

	<table id="promity-modeller-stats" style="width: 100%; margin-bottom: 1.5em;">
		<p>
			<span>Processed: </span>
			<span data-bind="text: processed"></span>/<span data-bind="text: subjectsToProcess"></span>
			<span>(<!-- ko text: $root.getPercentComplete() --><!-- /ko -->%)</span>
		</p>
		<p>
			<span>Most Danger:</span>
			<span data-bind="text: mostdangerCount"></span>
			(<span data-bind="text: $root.getPercentOfTotal(mostdangerCount) "></span>%)
		</p>
		<p>
			<span>Frontline:</span>
			<span data-bind="text: frontlineCount"></span>
			(<span data-bind="text: $root.getPercentOfTotal(frontlineCount) "></span>%)
		</p>
		<p>
			<span>Noble Range:</span>
			<span data-bind="text: nobleCount"></span>
			(<span data-bind="text: $root.getPercentOfTotal(nobleCount) "></span>%)
		</p>
		<p>
			<span>Safe:</span>
			<span data-bind="text: safeCount"></span>
			(<span data-bind="text: $root.getPercentOfTotal(safeCount) "></span>%)
		</p>
	</table>
	
	<div class="actions" style="text-align: right;">
		<div data-bind="if: !processing()">
			<button id="proximity-modeller-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Download</button>
			<!--
			<button id="proximity-modeller-forum" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">To Forum?</button> 
			-->
		</div>

		<div data-bind="if: processing()">
			<button id="proximity-modeller-cancel" type="button" class="btn" style="background: red; border: 1px solid #0b750b;">Cancel</button>
		</div>
	</div>

</div>