<form id="group-choice-form">
	
	<% if (message) { %>
		<h2><%= message %></h2>
	<% } %>

	<h4>Please select at least one group.</h4>

	<select multiple id="group-choice-groups" style="width: 100%; margin-bottom: 0.5em; padding: 0.5em;">		
		<% _.each(groups, function(group) { %>  
			<option value="<%= group.id %>"><%= group.name %></option>
		<% }); %>
	</select>
	
	<div class="actions" style="text-align: right">
		<button id="group-choice-form-done" type="button" class="btn" style="background: #29a529; border: 1px solid #0b750b;">Done</button>
	</div>
</form>